*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(240, 240, 240, 0.61);
}
.app{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  padding: 20px;
}
.app_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app_left{
  flex: 0.9;
}
.app_status{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table{
  height: 400px;
  overflow-y: scroll;
  margin-top: 20px;
  background-color: white;
}
.table tr{
  display: flex;
  justify-content: space-between;
}
.table td{
  padding: 6px;
}
.table tr:nth-of-type(odd){
  background-color: rgba(179, 179, 179, 0.411);
}

@media(max-width:990px){
  .app{
    flex-direction: column;
  }
}